Mail Sender/Mail validator
{"createdAt":"2025-07-24T07:31:49.952Z","updatedAt":"2025-09-08T08:02:51.000Z","id":"2qHAwmmFA8XLfAXo","name":"SARAN - MAIL VALIDATIOR","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY","mode":"list","cachedResultName":"MAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"ALL MAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit#gid=0"},"event":"rowAdded","options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-3232,240],"id":"3911473f-1a80-4792-8fce-0d7ed6be6c8f","name":"Google Sheets Trigger","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"BPtS1kSmmfl0DrFo","name":"SARAN -  LINUX SHEET "}}},{"parameters":{"url":"https://app.clearbounce.io/api/verify","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"0011f54b1e492c2b4159818c86d19bc8"},{"name":"email","value":"={{ $json.address }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3008,240],"id":"1faf2984-09f5-4ee7-96a4-af3b27458ad2","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"5388f4ed-9458-4cb4-a6a4-52d7d7f33118","name":"data.output.status","value":200,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2784,48],"id":"fe54681e-be3b-47cf-afc8-2207b7e46e85","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.data.output.status }}","rightValue":200,"operator":{"type":"number","operation":"equals"},"id":"1c6e85ba-1089-437e-a1d4-e6670c279ac8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c12d3b29-eb73-4c97-962c-02c559214d30","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2560,48],"id":"01e0ed8e-ecb3-4236-a6d5-5187022a6652","name":"Switch"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY","mode":"list","cachedResultName":"MAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1470251620,"mode":"list","cachedResultName":"CHECKED","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit#gid=1470251620"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hostExists","displayName":"hostExists","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deliverable","displayName":"deliverable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2336,-48],"id":"bf7dc86d-0503-47c3-863d-16cd171d306a","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}},{"parameters":{"assignments":{"assignments":[{"id":"d14962f9-d7e4-4915-a697-5705f3753b2e","name":"data.output.status","value":512,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2784,432],"id":"a1fea3c3-0e8b-4c93-bbd7-78ba3cc79c5e","name":"Edit Fields1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals"},"id":"1c6e85ba-1089-437e-a1d4-e6670c279ac8"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3ae0d905-3b0c-4738-981e-fbfe8f2d8dde","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2560,432],"id":"66b5650a-710d-4a1c-9a5a-3729994acd76","name":"Switch1"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY","mode":"list","cachedResultName":"MAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1470251620,"mode":"list","cachedResultName":"CHECKED","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit#gid=1470251620"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hostExists","displayName":"hostExists","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deliverable","displayName":"deliverable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2336,144],"id":"f0132947-25f9-4518-931d-e3ac1fcf271a","name":"Update row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY","mode":"list","cachedResultName":"MAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1470251620,"mode":"list","cachedResultName":"CHECKED","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit#gid=1470251620"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hostExists","displayName":"hostExists","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deliverable","displayName":"deliverable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2336,336],"id":"e651ac0e-feff-43c0-80f2-426c34bf05ef","name":"Update row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY","mode":"list","cachedResultName":"MAILS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1470251620,"mode":"list","cachedResultName":"CHECKED","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY/edit#gid=1470251620"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"address","displayName":"address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"hostExists","displayName":"hostExists","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deliverable","displayName":"deliverable","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"username","displayName":"username","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"domain","displayName":"domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2336,528],"id":"a73ee8b0-cb94-45e7-95ab-bc21d94560a5","name":"Update row in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"EboGKyC4eReLvT5Z","name":"SARAN - LINUX ACCOUNT"}}}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update row in sheet","type":"main","index":0}],[{"node":"Update row in sheet2","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Update row in sheet3","type":"main","index":0}],[{"node":"Update row in sheet4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY","sheetId":0,"lastRevision":513,"lastRevisionLink":"https://docs.google.com/spreadsheets/export?id=1nXeLu1L8ZKrCfk_qk3tVuIFhNnB10kypmm_ZxR5i6hY&revision=513&exportFormat=xlsx","lastIndexChecked":12}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e34bf6db-343e-4536-9a59-993aa3947953","triggerCount":1,"shared":[{"createdAt":"2025-07-24T07:31:49.955Z","updatedAt":"2025-07-24T07:31:49.955Z","role":"workflow:owner","workflowId":"2qHAwmmFA8XLfAXo","projectId":"WTQM0Nsb5YipcTUX","project":{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:32:33.777Z","id":"WTQM0Nsb5YipcTUX","name":"DCXworks Private Limited <admin@dcxworks.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-07-23T08:31:14.290Z","updatedAt":"2025-07-23T08:31:14.290Z","role":"project:personalOwner","userId":"32e5174a-8499-41d4-a7e3-46e06856d4d5","projectId":"WTQM0Nsb5YipcTUX","user":{"createdAt":"2025-07-23T08:31:13.588Z","updatedAt":"2025-09-08T05:13:52.000Z","id":"32e5174a-8499-41d4-a7e3-46e06856d4d5","email":"admin@dcxworks.com","firstName":"DCXworks","lastName":"Private Limited","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-23T08:32:53.840Z","personalization_survey_n8n_version":"1.103.2","companySize":"<20","companyType":"digital-agency","role":"business-owner","reportedSource":"friend"},"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"OiOxeHtpT13Rj2Hx","userActivatedAt":1753271399817,"easyAIWorkflowOnboarded":true,"dismissedCallouts":{"aiAgentStarterCallout":true,"preBuiltAgentsCalloutHttpRequest":true},"npsSurvey":{"responded":true,"lastShownAt":1755136428381}},"role":"global:owner","disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-07","isPending":false}}]}}],"tags":[{"createdAt":"2025-08-10T20:54:49.922Z","updatedAt":"2025-08-10T20:54:49.922Z","id":"9F4rGZqcTpUlg1im","name":"MAIL"},{"createdAt":"2025-08-10T20:54:24.930Z","updatedAt":"2025-08-10T20:54:24.930Z","id":"mbssRmndtj8TnWsJ","name":"SARAN"},{"createdAt":"2025-08-10T20:55:05.383Z","updatedAt":"2025-08-10T20:55:05.383Z","id":"oDhgvZ9MG5PlfYIm","name":"FIST WORKFOLOW"}]}